<ion-modal-view>
  <!---<ion-header-bar>
      <h1 class="title">{{result.nome}}</h1>
  </ion-header-bar>--->
  <!--<link href="templates/style.css" rel="stylesheet">-->

  <ion-content class="padding">
      <!---
      <div class = "header-box">
          <i class = "icon icon ion-clock"></i>
          <p class = "header"> {{result.inicio}} - {{result.termino}} </p>
      </div>
      --->
      <div class = "photo">
          <img ng-src="{{result.foto}}">
      </div>

      <div class = "name-box">
          <p> {{result.nome}} </p>
      </div>
      <br>

      <div class = "who-box">
          <p> {{result.palestrante}} </p>
      </div>
      <br>

      <div class = "description-box">
          <p> {{result.descricao}} </p>
      </div>
      <br>

      <div class = "tags-box">
          <p>tags: {{result.assunto}} </p>
      </div>

  </ion-content>
</ion-modal-view>
