<ion-modal-view>

  <ion-content class="padding">

      <div class = "photo">
          <img ng-src="{{result.foto}}">
      </div>

      <div class = "name-box">
          <p> {{result.nome}} </p>
      </div>
      <br>

      <div class = "who-box">
          <p> {{result.palestrante}} </p>
      </div>
      <br>

      <div class = "description-box">
          <p> {{result.descricao}} </p>
      </div>
      <br>
      <br>

      <div class = "tags-box">
          <p>{{result.local}} </p>
      </div>

  </ion-content>
</ion-modal-view>
