* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    background-color: #00A99F;
    border-radius: 10px;
    width: 98%;
    height: 10%;
    margin: 10px auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

.item .header-box {
    border-bottom: 1px solid #EEE;
    padding-bottom: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.item .header-box .icon {
    font-size: 18px;
    color: #EEE;
    padding-right: 5px;
}

.item .header-box .header {
    color: #EEE;
    font-size: 18px;
}

.item .name-box {
    padding-top: 20px;
    margin: 10px auto;
    margin-top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

}

.item .name-box .name {
    color: #fff;
    font-size: 20px;
}

.item .who-box {
    padding-top: 5px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.item .who-box .who {
    color: #fff;
    font-size: 16px;
}

.modal {
    background-color: #193066;
    border-radius: 10px;
    width: 90%;
    height: 60%;
    min-height: 0;
    max-height: 450px;
    top: 20%;
    left: 5%;
    right: 5%;
    bottom: 20%;
    opacity: 0.9 !important;
    overflow: hidden;
}

.modal .title {
    color: #fff;
    font-size: 20px;
}

.modal .photo img {
    width: 80px;
    height: 80px;
    margin-top: 8px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
    float:left;
}

.modal .name-box {
    max-width: 70%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    text-align:justify;
    font-size: 16px;
    color: #fff;
    float:left;
    word-wrap: break-word;
}

.modal .who-box {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    text-align:justify;
    font-size: 14px;
    color: #fff;
    float:left;
    word-wrap: break-word;
}

.modal .description-box {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    text-align:justify;
    font-size: 16px;
    color: #fff;
    float:left;
    word-wrap: break-word;
}

.modal .tags-box {
    position: absolute;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    text-align:justify;
    font-size: 14px;
    color: #fff;
    float:left;
    word-wrap: break-word;

}
