<ion-view view-title="Terça-feira">
    <ion-nav-buttons side="left">
        <a class="button button-clear ion-home" style="position:absolute; left: 20px; font-size:17px; color: #5FC3AE;" href="#/tab/home">
        </a>

        <link href="templates/style.css" rel="stylesheet">

    </ion-nav-buttons>

  <ion-content class="padding" ng-controller="Dia2Ctrl" ng-init="doRefresh()">
    <!---<h2>Dia 2</h2>--->
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
        <ion-item class="item-text-wrap" ng-repeat="result in results">

          <div class = "header-box">
              <i class = "icon icon ion-clock"></i>
              <p class = "header"> {{result.inicio}} - {{result.termino}} </p>
          </div>

          <div class = "name-box">
              <p class = "name"> {{result.nome}} </p>
          </div>

          <div class = "who-box">
              <p class = "who"> {{result.palestrante}} </p>
          </div>

        </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
